name: ci-cd

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

permissions:
    contents: write

jobs:
    cd:
        runs-on: ubuntu-latest

        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        concurrency: release
        permissions:
            id-token: write
            contents: write

        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0
                  persist-credentials: false
            - uses: actions/setup-python@v5
              with:
                  python-version: "3.12"

            - name: Install SSH Client and add private key to ssh-agent
              uses: webfactory/ssh-agent@v0.9.0
              with:
                  ssh-private-key: ${{ secrets.ACTIONS_DEPLOY_KEY }}

            - name: Configure git to use SSH
              run: |
                  git config --global url."git@github.com:".insteadOf "https://github.com/"
                  git remote set-url origin git@github.com:vitorcapdeville/teste-repo.git


            - name: Use Python Semantic Release to prepare release
              id: release
              uses: python-semantic-release/python-semantic-release@v10.5.3
              with:
                  github_token: ${{ secrets.PAT_TOKEN || secrets.GITHUB_TOKEN }}
              env:
                  GH_TOKEN: ${{ secrets.PAT_TOKEN || secrets.GITHUB_TOKEN }}
